<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=h1, initial-scale=1.0" />
    <title>[No Reply] Reset Password [TrinityKnights]</title>
  </head>
  <body>
    <h1>You're requested to reset your password</h1>
    <h3>Please click the link below to reset your password</h3>
    <a href="https://trinityknights-backend.vercel.app/api/v1/users/reset-password/{{.Token}}"
      >https://trinityknights-backend.vercel.app/api/v1/users/reset-password/{{.Token}}</a
    >
    <p>If you didn't request this, please ignore this email.</p>
    <p>Don't reply to this email.</p>
  </body>
</html>
